<launch>
  <node name="image_publisher" pkg="jsk_perception" type="image_publisher.py">
    <rosparam subst_value="true">
    file_name: $(find hiraoka_semi)/image/camera0.jpeg
    rate: 30
    </rosparam>
  </node>

  <node pkg="image_view" type="image_view" name="publiser_view" >
      <remap from="image" to="image_publisher/output" />
  </node>

  <node pkg="jsk_perception" type="hsv_decomposer" name="hsv_decomposer" output="screen">
      <remap from="~input" to="image_publisher/output" />
  </node>
  <node pkg="hiraoka_semi" type="image_time_diff.py" name="image_time_diff" output="screen" >
      <remap from="~input/hue" to="/hsv_decomposer/output/hue" />
      <remap from="~input/saturation" to="/hsv_decomposer/output/saturation" />
  </node>
  <node pkg="image_view" type="image_view" name="hue_view" >
      <remap from="image" to="hsv_decomposer/output/hue" />
  </node>
  
  <node pkg="image_view" type="image_view" name="diff_view" >
      <remap from="image" to="image_time_diff/output/diff_image" />
  </node>

  <node name="hsv_color_filter" pkg="opencv_apps" type="hsv_color_filter">
    <remap from="image" to="image_time_diff/output/diff_image" />
    <!-- <remap from="image" to="image_publisher/output" /> -->
  <rosparam>
  use_camera_info: false
  h_limit_max: 360
  h_limit_min: 0
  s_limit_max: 360
  s_limit_min: 0
  v_limit_max: 360
  v_limit_min: 50
  </rosparam>
  </node>

  <node name="image_view_color_filtering" pkg="image_view" type="image_view">
    <remap from="image" to="hsv_color_filter/image" />
  </node>

  <node name="bounding_object_mask_image" pkg="jsk_perception" type="bounding_object_mask_image">
    <remap from="~input" to="hsv_color_filter/image" />
  </node>

  <node name="image_view_bounding_object_mask_image" pkg="image_view" type="image_view">
    <remap from="image" to="bounding_object_mask_image/output" />
  </node>

<node name="mask_sample" pkg="jsk_perception" type="apply_mask_image" respawn="true">
    <remap from="~input" to="image_publisher/output" />
    <remap from="~input/mask" to="bounding_object_mask_image/output" />
  <rosparam>
    clip: false
    approximate_sync: true
    queue_size: 100
  </rosparam>
  </node>

  <node name="mask_sample_image" pkg="image_view" type="image_view">
    <remap from="image" to="mask_sample/output" />
  </node>

  <node name="bounding_rect_mask_image" pkg="jsk_perception" type="bounding_rect_mask_image">
    <remap from="~input" to="bounding_object_mask_image/output" />
  </node>
	      
  <node name="rect_mask_sample" pkg="jsk_perception" type="apply_mask_image" respawn="true">
    <remap from="~input" to="image_publisher/output" />
    <remap from="~input/mask" to="bounding_rect_mask_image/output" />
  <rosparam>
    clip: false
    approximate_sync: true
    queue_size: 100
  </rosparam>
  </node>

  <node name="rect_mask_sample_image" pkg="image_view" type="image_view">
    <remap from="image" to="rect_mask_sample/output" />
  </node>

  <node name="mask_image_to_rect" pkg="jsk_perception" type="mask_image_to_rect" respawn="true">
    <remap from="~input" to="bounding_rect_mask_image/output" />
  </node>

</launch>
