<launch>
	<node pkg="usb_cam" type="usb_cam_node" name="usb_cam"/>

	<node pkg="image_view" type="image_view" name="image_view_camera">
	  <remap from="image" to="usb_cam/image_raw"/>
	  <!-- <remap from="image" to="/kinect_head/rgb/image_rect_color"/> -->
	</node>

	<node pkg="hiraoka_semi" type="video_recorder" name="video_recorder"/>

	<include file="$(find hiraoka_semi)/launch/detect_change.launch" />

	<node pkg="hiraoka_semi" type="image_part_saver" name="image_part_saver">
	  <remap from="image" to="rect_mask_sample/output"/>
	</node>

	<node pkg="hiraoka_semi" type="main.l" name="main">
	  <param name="~file_name" type="string" value="/home/mech-user/semi_ws/src/jsk_demos/jsk_2017_10_semi/src/hiraoka_semi/image/head_video.avi"/>
	  <param name="~save_name" type="string" value="/home/mech-user/semi_ws/src/jsk_demos/jsk_2017_10_semi/src/hiraoka_semi/image/change.jpg"/>
	  <!-- <param name="~topic_name" type="string" value="/kinect_head/rgb/image_rect_color"/> -->
	  <param name="~topic_name" type="string" value="usb_cam/image_raw"/>
	</node>
</launch>

